:root{
  /* primary colours */
  --primary-dark-cyan: hsl(158, 36%, 37%);
  --primary-button-hover: hsl(158, 36%, 15%);
  --primary-cream: hsl(30, 38%, 92%);

  /* neutral colors */
  --neutral-dark-blue: hsl(212, 21%, 14%);
  --neutral-dark-grayish-blue: hsl(228, 12%, 48%);
  --neutral-white: hsl(0, 0%, 100%);

  /* font family */
  --ff-accent: "Fraunces", serif;
  --ff-base: "Montserrat", sans-serif;
  
  /* font weights */
  --fw-regular: 500;
  --fw-bold: 700;
  
}

html{
  /* set font size to 10px for rem calculations */
  font-size: 62.5%;
}

/* general styles */

body{
  display: grid;
  grid-template-rows: 1fr auto;
  min-height: 100vh;
  background-color: var(--primary-cream);
}

main{
  margin: 1.5rem;
  display: grid;
  place-content: center;

  font-family: var(--ff-base);
  font-weight: var(--fw-regular);
  font-size: 1.4rem;
  color: var(--neutral-dark-grayish-blue);
}

@media (min-width:600px){
  .card{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .card__img{
    width: 100%;
  }
}

/* utilities */
.accent-font{
  font-family: var(--ff-accent);
  font-weight: var(--fw-bold);
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}

/* components */

.card{
  --text-section-padding: 2.5rem;
  --content-gap: 1.75rem;
  background-color: var(--neutral-white);
  border-radius: .8rem;
  overflow: hidden;
  max-width: 590px;
}


.card__text-section{
  display: grid;
  gap: var(--content-gap);
  padding: var(--text-section-padding)

}

.card__category{
  text-transform:uppercase;
  letter-spacing: .25em;
}

.card__title{
  font-size: 3.25rem;
  line-height: 1;
  color: var(--neutral-dark-blue);
}

.card__price{
  /* font-family: var(--ff-accent);
  font-weight: var(--fw-bold); */
  font-size: 3.25rem;
  color: var(--primary-dark-cyan)
}

.card__old-price{
  /* font-size: 1rem; */
  text-decoration: line-through;
}

.card__prices{
  display: flex;
  gap: 2rem;
  align-items: center;
}

.button{
  display: flex;
  align-items: center;
  justify-content: center; 
  gap: 1rem;
  cursor: pointer;
  padding: 1rem 4rem;
  border-radius: 7.5px;
  border: none;
  text-decoration: none;
  font-weight: var(--fw-bold);
  color: var(--neutral-white);
  background-color: var(--primary-dark-cyan);
  
}

.button:hover{
  background-color: var(--primary-button-hover);
}

.button[data-icon="shopping-cart"]::before{
  content: "";
  background-image: url(../images/icon-cart.svg);
  width: 15px;
  height: 16px;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }